body {
    background-color: black;
    
}

figcaption{
    color: cornflowerblue;
    text-align: center;
}
h1 {
    color: darkblue;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
}

h2 {
    color:royalblue;
    text-align: center;
}

h3{
    color:royalblue;
}

p {
    color:cornflowerblue;
    text-align: center;
}

ul {
    color:blue;
    list-style-position: inside;
    text-align: center;
}

nav{
    text-align:center;
}
