body {
    background-color: black;
}
h1 {
    color: darkblue;
    -webkit-text-stroke: 1px #fff;
    text-align: center;
}

h2 {
    color:royalblue;
    text-align: center;
}

p {
    color:cornflowerblue;
    text-align: center;
}

li {
    color:blue;
    list-style-position: inside;
    text-align: center;
}

img{
    text-align: center
}